<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="destination" value="e:\temp\"/>
    <add key="position" value="AppData\Local\Packages\Microsoft.Windows.ContentDeliveryManager_cw5n1h2txyewy\LocalState\Assets"/>
    <!-- Filter can be Horizontal, Vertical or Both. It signifies with pictures are kept -->
    <add key="filter" value="Horizontal"/>
    <!-- minimum size of pictures in bytes, ie 400000 for 400kb pictures -->
    <add key="minimumSize" value="400000"/>
  </appSettings>
</configuration>